@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input:invalid, textarea:invalid, select:invalid {
        box-shadow: none;
    }

    [x-cloak] {
        display: none !important;
    }
}

@layer components {
    .normalResult {
        @apply group-hover:bg-sky-200 bg-white border-r border-gray-500 px-2 text-center whitespace-nowrap;
    }

    .abnormalResult {
        @apply bg-red-300 text-red-900 group-hover:bg-sky-400 font-bold border-r border-gray-500 px-2 text-center whitespace-nowrap;
    }

    .criticalResult {
        @apply bg-red-500 text-red-950 group-hover:bg-sky-500 font-bold border-r border-gray-500 px-2 text-center whitespace-nowrap;
    }

    .dateHeader {
        @apply text-center border-b border-gray-500 px-2 z-20 sticky bg-gray-200 top-0;
    }

    .resultRow {
        @apply border-b border-gray-500 hover:bg-sky-200;
    }

    .panelHeader {
        @apply font-extrabold border-r border-gray-500 text-xl text-start ps-3 z-30 sticky bg-white left-0  group-hover:bg-white;
    }

    .labelHeader {
        @apply border-r border-gray-500 px-2 bg-gray-200 z-20 sticky left-7 group-hover:bg-sky-300;
    }
}


